@font-face {
    font-family: 'W95';
    src:
      url('./W95FA.otf');
  }
.main {
    background-image: url('./fishiess.png');
    background-size:cover;
    width: 100vw;
    height: 150vh;
    font-family: W95;
}
.disco {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}
.marctoast {
    display: flex;
    margin-top: -10px;
    margin-left: 400px;
    font-family: 'Overused Grotesk';
    color: black;
}
.mother {
    display: flex;
    margin-top: -50px;
    margin-left: 100px;
    font-family: 'Overused Grotesk';
    color: black;
}
.grace {
    display: flex;
    margin-top: -40px;
    margin-left: 800px;
    font-family: 'Overused Grotesk';
    color: black;
}
.skyfish {
    display: flex;
    margin-top: -10px;
    margin-left: 100px;
    font-family: 'Overused Grotesk';
    color: black;
}
.quincie {
    display: flex;
    margin-top: -150px;
    margin-left: 1200px;
    font-family: 'Overused Grotesk';
    color: black;
}

