.main {
    /* background-image: url('./gather.png'); */
    background-size:cover;
    /* background-repeat: repeat; */
    /* display: flex; */
    /* justify-content: space-between; */
    width: 100%;
    height: 200vh;
}
.title {
    font-family: 'Overused Grotesk';
    font-size: 64pt;
    color: rgba(255, 255, 255, 0.537);
}
.description {
    font-family: 'Overused Grotesk';
    font-size: 24pt;
    position: absolute;
    width: 50vh;
    top: 60%;
    left:0%;
    color: rgba(255, 255, 255, 0.537);
    align-items: center;
    margin-left: auto;
    justify-content: space-between;
}
.by {
    font-family: 'Overused Grotesk';
    font-size: 32pt;
    color: rgba(255, 255, 255, 0.537);
    /* align-items: center;
    margin-left: auto;
    justify-content: space-between;
    position: absolute;
    width: 50vh;
    top: 240%;
    left:0%; */
}
.content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1)
  }
  .content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
  }
  .category {
    font-size: large;
    color: rgba(255, 255, 255, 0.217);
    font-family: 'Overused Grotesk';
    font-size: 24pt;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* margin-left: auto;
    position: absolute;
    top: 60%;
    left:0%;
    justify-content: space-between;
    justify-content: space-between; */

  }
  .category1 {
    font-size: large;
    color: rgba(255, 255, 255, 0.217);
    font-family: 'Overused Grotesk';
    font-size: 24pt;
    display: flex;
    align-items: center;
    cursor: pointer;
    align-items: center;
    /* margin-left: auto;
    position: absolute;
    top: 270%;
    left:0%;
    left:0%; */

  }
  .inspo{
    font-size: large;
    position: absolute;
    color: rgba(255, 255, 255, 0.217);
    font-family: 'Overused Grotesk';
    font-size: 24pt;
    left: 0vh;
    top: 190%;
  }
  .icon {
    margin-top: 1vh;
    margin-left: 1vh;
  }
