.main {
    background-image: url('./artifacts.png');
    background-size:contain;
    /* background-repeat: repeat; */
    /* display: flex; */
    /* justify-content: space-between; */
    width: 100%;
    height: 100vh;
}
.title {
    font-family: 'Overused Grotesk';
    font-size: 64pt;
    color: aliceblue;

}
.description {
    font-family: 'Overused Grotesk';
    font-size: 16pt;
    color: rgba(240, 248, 255, 0.805);
    position: absolute;
    width: 35vh;
    bottom:40vh;
    right:0vh;
}
