.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5vh;
    background-color: hsl(208, 100%, 97%);
    overflow-x: scroll;
    width: 100vw;
  }
  .title {
    display: flex;
    font-size: large;
    color: black;
    font-family: 'Overused Grotesk';
    font-size: 64pt;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo {
    display: block;
    margin-top: 5vh;
    margin-right: 2vh;
    height: 10vh;
    width: 10vh;
  }
  .concepts-accordion {
    font-size: large;
    color: black;
    font-family: 'Overused Grotesk';
    font-size: 24pt;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  .content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1)
  }
  .content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
  }
  .category {
    font-size: large;
    color: black;
    font-family: 'Overused Grotesk';
    font-size: 24pt;
    display: flex;
    align-items: center;
  }
  .btn {
    position: relative;
    transition: all 0.2s ease;
    letter-spacing: 0.025em;
    font-size: .6rem;
    border-radius: 0.125rem;
    padding: .6rem 1rem;
    max-height: 37px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 120px;
    margin-left: 5vw;
    margin-top: 10vh;
}
.btn-primary {
    color: #000;
    background-color: #c0c0c0;
    border-color: #a0a0a0;
    
}
.btn-text {
    border: 1px solid transparent;
    font-family: W95;
    font-size: 12px;
}
.btn:before,
.btn:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    display: block;
    background: transparent;
    z-index: 9;
    top: 0;
    left: 0;
}

.btn:before {
    width: 100%;
    height: 100%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #858585;
    border-bottom: 2px solid #858585;
}
.btn:not(:disabled):not(.disabled):active:before,
.btn:not(:disabled):not(.disabled):active:focus:before {
    border-color: transparent;
    color: #000;
}

.btn .btn-text {
    border: 1px solid transparent;
}

.btn:not(:disabled):not(.disabled):active .btn-text,
.btn:not(:disabled):not(.disabled):active:focus .btn-text {
    border: 1px dotted #000;
}
.child {
  position: absolute;
}
.child-1 {
  left: 0vw;
  top: 50vh;
}
.poem {
  font-family: 'W95';
  font-size: 16px;
  color: black;
  font-family: W95;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
  