.main {
    background-image: url('./audio.png');
    /* background-size: cover; */
    /* background-repeat: repeat; */
    display: flex;
    justify-content:space-between;
    width: 100vw;
    height: 200vh;
    overflow: scroll;
}
.title {
    font-family: 'Overused Grotesk';
    font-size: 64pt;
    color: aliceblue;

}
.description {
    font-family: 'Overused Grotesk';
    font-size: 32pt;
    color: aliceblue;
    position: absolute;
    bottom:0vh;
    right:0vh;
}
.expand {
    font-family: 'Overused Grotesk';
    font-size: 16pt;
    color: aliceblue;
    position: absolute;
    top: 105vh;
    bottom:-25vh;
    left:5vh;
}
.expand1 {
    font-family: 'Overused Grotesk';
    font-size: 16pt;
    color: aliceblue;
    position: absolute;
    top: 120vh;
    bottom:-45vh;
    right:0vh;
}
.expand2 {
    font-family: 'Overused Grotesk';
    font-size: 16pt;
    color: aliceblue;
    position: absolute;
    top: 145vh;
    bottom:-65vh;
    right:10vh;
}
.expand3 {
    font-family: 'Overused Grotesk';
    font-size: 16pt;
    color: aliceblue;
    position: absolute;
    top: 175vh;
    bottom:-65vh;
    right: 0vh;
}
.expand4 {
    font-family: 'Overused Grotesk';
    font-size: 16pt;
    color: aliceblue;
    position: absolute;
    margin-top: 5vh;
    bottom:-100vh;
    left:5vh;
}