@font-face {
    font-family: 'W95';
    src:
      url('./W95FA.otf');
  }
  .main {
    background-image: url('./well.png');
    background-size:cover;
    /* background-repeat: repeat; */
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    height: 150vh;
}
.header {
    width: 500px;
    background-color: rgb(84, 132, 84);
    border: 3px solid rgb(160, 177, 160);
    padding: 2px;
    margin: 5px;
    font-family: W95;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 5vh; */
    height: 30px;
    font-size: 16pt;
}
.logo {
    position: absolute;
    margin-left: 25.5vw;
}
.poem {
  font-family: 'W95';
  /* padding-left: 25vw; */
  padding-left: 20vw;
  font-size: large;
  color: white;
  opacity: 100%;
}
.stanza {
  padding-top: 5vh;
}
.stanza1 {
  /* padding-top: 40vh; */
  padding-top: 55vh;
}
.audio {
  font-family: 'W95';
  background: grey;
  padding: 5px 15px;
  margin-left: 3vw;
  margin-top: 2vh;
  color: white;
  position: fixed;
}
.category {
  font-family: 'W95';
  font-size: 5pt;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 20vw;
  /* margin-left: auto;
  position: absolute;
  top: 60%;
  left:0%;
  justify-content: space-between; */
}
.content {
  font-family: 'W95';
  padding-left: 20vw;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
  color: white;
}
.content.show {
  font-family: 'W95';
  padding-left: 20vw;
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
  color: white;
}
.plus {
  padding-top: 1vh;
  font-family: 'W95';
  font-size: 15pt;
  color: white;
}


