@font-face {
    font-family: 'W95';
    src:
      url('./W95FA.otf');
  }
  .ppopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: W95;
}
.ppcard {
    position: relative;
    padding: 32 px;
    width: 300px; 
    height: 500px;
    max-width: 640;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #393939;
    border-bottom: 2px solid #393939;
    border-radius: 0;
    background: #C0C0C0;
}
.ppcard-tertiary .ppcard-header {
    background: #000181;
    color: white;
}
.ppcard-header {
    position: relative;
    background: #808080;
    font-size: .65rem;
    padding: 4px;
    color: #C9C9C9;
    border-radius: 0;
    border: 2px solid #BDBDBD;
 }
.ppheader-text {
    border: 1px solid transparent;
    font-family: W95;
    font-size: 16px;
    color: white;
}
.ppbtn {
    position: relative;
    transition: all 0.2s ease;
    letter-spacing: 0.025em;
    font-size: .6rem;
    border-radius: 0.125rem;
    padding: .6rem 2rem;
    max-height: 37px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-left: 0.5vw;
}
.ppbtn-primary {
    color: #000;
    background-color: #c0c0c0;
    border-color: #a0a0a0;
    
}
.ppbtn-text {
    border: 1px solid transparent;
    font-family: W95;
    font-size: 14px;
}
.ppbtn:before,
.ppbtn:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    display: block;
    background: transparent;
    z-index: 9;
    top: 0;
    left: 0;
}

.ppbtn:before {
    width: 100%;
    height: 100%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #858585;
    border-bottom: 2px solid #858585;
}
.ppbtn:not(:disabled):not(.disabled):active:before,
.ppbtn:not(:disabled):not(.disabled):active:focus:before {
    border-color: transparent;
    color: #000;
}

.ppbtn .ppbtn-text {
    border: 1px solid transparent;
}

.ppbtn:not(:disabled):not(.disabled):active .ppbtn-text,
.ppbtn:not(:disabled):not(.disabled):active:focus .ppbtn-text {
    border: 1px dotted #000;
}

